@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: lightcyan;
}

#container {
  background: white;
  /* border: 1px pink solid; */
  width: 90%;
  max-width: 1200px;
  margin: 30px auto;
  padding: 1rem;
  box-shadow: 1px 1px 5px gray;
}

h1 {
  text-align: center;
}

h2 {
  margin: 1rem 0;
  text-indent: 2rem;
}

ol {
  background: linen;
  padding: 0.5rem 0;
}

li {
  margin-left: 4rem;
  margin-bottom: 1rem;
}

.cont {
  /* display: flex;
  flex: 2 1; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h3 {
  /* margin-top: 0.5rem; */
}
